*{margin: 0; padding: 5px 0;}
body{font-family:  'Droid sans', Arial, sans-serif; text-align:center; background:#EEE}
h1, h2{font-family:'Droid sans', Arial, sans-serif; text-transform: uppercase}
ul{list-style-position:inside}
a img{border:none}

html, body, #container{ padding: 0}

#container{width:960px; margin:auto; text-align: left;}

#logo {display: block; width: 230px; height: 150px; background:url('img/logoDemoJS_sd.png') 20px 15px ; background-repeat: no-repeat;}
#logo h1 {color: #5E8C6A}
#logo span {display: none;}

#content { background:#000; border-radius:0 25px;}
#content > * {margin: 0 20px; color: #EEE}
#content > h2 { color: rgb(255,103,1)}
#content a    { color:#88A65E;}
#content > p  { }
#content iframe {width:920px; height:400px}

#registration{background:#333; border-radius: 5px}
#registration > * {margin: 0 10px}
#registration > form > *{margin: 5px }

#footer {margin: 20px 0 0 0; background-color: #CCC; padding: 10px 20px 0 20px; border-radius: 20px 0 0 0}
#footer ul {list-style-type: none;}
#people, #sponsors{width:440px;}
/*
.register{font-size: 400%; color: #F2C45A;text- text-transform: capitalize; font-weight:bold}
*/
.veryBig{font-size:400%; vertical-align:top}
.left{float:left}
.right{float:right}
.clear{clear:both}
hr.space{visibility:hidden; height:0; clear:both; padding:0; margin:0} 
.shadow{
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
}

p.moreInfos{ padding:0; overflow:hidden;
  -webkit-transition-duration:500ms;
  -moz-transition-duration:500ms;
  -o-transition-duration:500ms;
  transition-duration:500ms;
}

